
  <div class="content" role="main">
    
  
      <h1 style="padding-top: 150px; font-family:'Times New Roman', Times, serif; font-size:xx-large;">Available Books</h1>
  
      <div class="card-container" *ngFor="let item of titles">
        <a class="card" style="height: 180px; width: 600px;">
  
          <img src="/assets/Logo.png" alt="Logo" style="width: 150px;">
          <div style="margin-left: 20px;">
            <h3> <strong>{{ item.title }}</strong></h3>
            <p>Author: {{ item.author }}</p>
            <p>Date of Publication: {{ item.dateOfPublication }}</p>
            <p>Version: {{ item.version }}</p>
            <p>Number of Items In Stock: {{ item.numberOfBooksInStock }}</p>
            <p>Price: {{ item.price }}</p>
          </div>
  
          <button mat-icon-button class="cart-button" routerLink="/viewCart">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
  
        </a>
      </div>
  
  </div>
  
  <router-outlet></router-outlet>
