<div *ngIf="status === false">
<div class="form-container">

    <!-- Card -->
      <mat-card>
        <!-- Heading -->
        <h2 class="information-heading">Log In: </h2>
        <mat-card-content>
            <div class="create-container">
    
              <mat-form-field appearance="outline">
                  <mat-label>Enter username</mat-label>
                  <input required matInput #input placeholder="Username" [(ngModel)]="username" type="text">
                  <mat-error *ngIf="!username">This field is required</mat-error>
              </mat-form-field>
    
              <mat-form-field appearance="outline">
                  <mat-label>Enter password</mat-label>
                  <input required matInput #input placeholder="Password" [(ngModel)]="password" type="password">
                  <mat-error *ngIf="!password">This field is required</mat-error>
              </mat-form-field>

              </div>
    
              <!-- Confirmation Text -->
    
              <div class="confirmation">
                <p class="confirmation-text">Don't have an account? &#160;</p>
                <p routerLink="/register" > Register here. </p>
                <!-- Button -->
            
                <div class="login-button">
                    <button mat-flat-button color="primary" [disabled]="!input.value" (click)="login(username, password)">Log In</button>
                </div>

              </div>
    
              <p id="errorMessage" #errorMessage style="color: #D1D0D0;"></p>
    
    
        </mat-card-content>
      </mat-card>

    </div>
</div>
<!-- 
<div *ngIf="status === true">
    
  
    <div style="display: flex; flex-direction: column; align-items: center;">
        <h1 style="padding-top: 350px; font-family:'Times New Roman', Times, serif; font-size:xx-large;">You are already logged in.</h1>
        <div style="display: flex; justify-content: center;">
          <button mat-flat-button color="primary" (click)="logout()">Log Out</button>
        </div>
      </div>
      
  
    
</div> -->

<div *ngIf="status === true">
    
  
    <div style="display: flex; flex-direction: column; align-items: center;">
        <h1 style="padding-top: 350px; font-family:'Times New Roman', Times, serif; font-size:xx-large;">You are already logged in.</h1>
        <div style="display: flex; justify-content: center; padding-bottom: 10px;">
          <button mat-flat-button color="primary" (click)="manageStock()">Manage Stock</button>
        </div>
        <div style="display: flex; justify-content: center; padding-bottom: 10px;">
            <button mat-flat-button color="primary" (click)="manageUsers()">Manage Users</button>
          </div>
          <div style="display: flex; justify-content: center;">
            <button mat-flat-button color="primary" (click)="logout()">Log Out</button>
          </div>
      </div>
      
  
    
</div>



  

<router-outlet></router-outlet>
