<h1 style="padding-left: 10px; padding-top: 220px;">Manage Stock</h1>

<span class="input-group" style="width: 970px; padding-left: 10px;">
  <input type="text" [(ngModel)]="title" class="form-control" style="height: 50px;" placeholder="Search by title" aria-label="Username" aria-describedby="basic-addon1">
  <button type="button" class="btn btn-outline-primary" style="margin-right: 10px;">Search</button>
  <button type="button" class="btn btn-outline-primary" >Create</button>
</span>


<table mat-table [dataSource]="dataSource" class="table-design" *ngIf="dataSource && dataSource.data.length > 0">
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

  <ng-container matColumnDef="bookID">
    <th mat-header-cell *matHeaderCellDef>Book ID </th>
    <td mat-cell *matCellDef="let element"> {{ element.bookID ? element.bookID : '-' }} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element"> {{ element.title ? element.title : '-' }} </td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let element"> {{ element.author ? element.author : '-' }} </td>
  </ng-container>

  <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef>Version</th>
    <td mat-cell *matCellDef="let element"> {{ element.version ? element.version : '-' }} </td>
  </ng-container>

  <ng-container matColumnDef="dateOfPublication">
    <th mat-header-cell *matHeaderCellDef>Date Of Publication</th>
    <td mat-cell *matCellDef="let element"> {{ element.dateOfPublication ? element.dateOfPublication  : '-' }} </td>
  </ng-container>

  <ng-container matColumnDef="numberOfBooksInStock">
    <th mat-header-cell *matHeaderCellDef>Number Of Books In Stock</th>
    <td mat-cell *matCellDef="let element"> {{ element.numberOfBooksInStock ? element.numberOfBooksInStock : 0 }} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element"> {{element.price  | currency:"ZAR":"symbol-narrow"}}
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef > Edit </th>
    <td mat-cell *matCellDef="let row" ng-reflect-column-name="edit">
      <button mat-raised-button color="primary">Edit</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell class="exclude-click" *matCellDef="let row" ng-reflect-column-name="delete">
      <button mat-raised-button color="primary" >Delete</button>
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>


<div *ngIf="dataSource.data.length === 0" style="padding-top: 20px; padding-left: 10px;">
  <p>No data available.</p>
</div>
